<!DOCTYPE html>
<html ng-app="controllSheetMusic">
<head>
<meta charset="ISO-8859-1">
<title>Sheet Music viewer</title>

<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="../css/util.css">

<script src="../js/pdf_js/pdf.js"></script>
<script src="../js/pdf_js/pdf.worker.js"></script>

<script src="../js/sheetMusic.js"></script>
<script src="../js/authentication.js"></script>
<script src="../js/sheetMusicViewer.js"></script>

<script type='text/javascript' src='http://www.midijs.net/lib/midi.js'></script>

</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container" ng-controller="logoutController">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Sheet Music viewer</span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Sheet Music viewer</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="upload.html">Upload Sheet music</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" ng-click="logout()">Log out </a></li>
				</ul>
			</div>
			<!-- nav-collapse /end -->
		</div>
	</nav>


	<div class="view-content">
		<div class="container" ng-controller="ctrlSheetViewer"
			data-ng-init="init()">
			<h3>Sheet</h3>
			
			<div class="spinner" ng-show="showLoader">
			  <h4> Loading...</h4>
			  <div class="rect1"></div>
			  <div class="rect2"></div>
			  <div class="rect3"></div>
			  <div class="rect4"></div>
			  <div class="rect5"></div>
			</div>
			
			<h2>{{sheetmusicName}}</h2>

			<!-- <audio src="../LaLaLaHappiness.mp3" controls>	
			<p>Fallback content goes here.</p>
			</audio> -->
			
			
			<audio id="audio" src ="" controls>	
			<p>Fallback content goes here.</p>
			</audio>
			
			 <a href="#" ng-click="palyMidiMusic()">Play midi</a>
			 
			<div class="wrapper" >
				<canvas id="pdfCanvas" style="border: 1px solid #d3d3d3;" width="480" height="480"></canvas>
			</div>

		</div>
	</div>




</body>
</html>