	

	<nav class="navbar navbar-default navbar-fixed-top" ng-controller="logoutController">
		<div class="container"
			data-ng-init="getLoggedUser()">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Sheet Music</span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/sheetmusic">Sheet Music</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#/upload">Upload Sheet music</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
	
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span>
							Logged in : <em><b>{{loggedUser}}</b></em></a></li>
					<li><a href="#" ng-click="logout()">Log out </a></li>
				</ul>
			</div>
			<!-- nav-collapse /end -->
		</div>
	</nav>


	<div class="view-content">
		<div class="container"
			data-ng-init="init()">
			<h3>Sheet</h3>

			<div class="spinner" ng-show="showLoader">
				<h4>Loading...</h4>
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
			<h2>{{errorMessage}}</h2>

			<div class="container-fluid text-center" ng-show="!showLoader">
				<div class="row content">
					<div class="col-xs-7 text-left">
						<p hidden>{{Sheetmusic.sheetMusicId}}</p>
						<h2>{{Sheetmusic.name}}</h2>

						<div class="containerView" id="pdfContainer">
							<audio id="audio" src="" oncanplay="loadAudioDuration()" controls>
								<p>Fallback content goes here.</p>
							</audio>

							<!-- <a href="#" ng-click="palyMidiMusic()">Play midi</a>-->
							<div class="wrapper">
								<canvas id="pdfCanvas" style="border: 1px solid #d3d3d3;">
									<!-- width="480" height="480"> -->
								</canvas>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<br />
						<div>
							<div class="col-sm-1"></div>
							<div class="col-sm-8">
								<p>
									Uploaded by: <span class="glyphicon glyphicon-user"> </span>
									{{Sheetmusic.user.userName}}
								</p>
								<p>
									Mail: <a href="mailto:Sheetmusic.user.userMail">{{Sheetmusic.user.userMail}}</a>
									<br />
							</div>
						</div>

						<div class="btn-group">
							<button class="btn btn-primary" data-label-placement>
								<span class="glyphicon glyphicon-download-alt"></span> Download
							</button>
							<button data-toggle="dropdown"
								class="btn btn-primary dropdown-toggle">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a role="menuitem" href="#"
									ng-click="downloadSheetMusic()"><span
										class="glyphicon glyphicon-floppy-disk"></span> PDF File</a></li>
								<li><a role="menuitem" href="#"
									ng-click="downloadSoundFile()"><span
										class="glyphicon glyphicon-music"></span> MP3 File </a></li>
			

								<!-- Other items -->
							</ul>
						</div>

						<div class="btn-group">
							<button class="btn btn-success" data-label-placement>
								<span class="glyphicon glyphicon-star"></span> Favorite
							</button>
						</div>
					</div>

					<div class="col-xs-4">
						<div class="col-padding text-left">
							<h3>Informations</h3>
							<hr />
							<div class="col-md-5">
								<p>Uploaded date</p>
								<p>Pages</p>
								<p>Duration</p>
								<p>Licence</p>
								<p>Song genre</p>
								<p>Current Time</p>

							</div>

							<div class="col-md-6">
								<p>{{Sheetmusic.uploadDate}}.</p>
								<p id="pdfLength"></p>
								<p id="audioDuration">{{Sheetmusic.duration}}.</p>
								<p>{{Sheetmusic.license}}.</p>
								<p>{{Sheetmusic.songGenre.songGenreName}}.</p>
								<p id="currentTime">{{currentTime}}}</p>
							</div>
						</div>
					</div>

				
					<br/>
					<div class="col-xs-12 col-md-7" align="left">
						<div class="form-group">
							<label class="col-padding text-left">Comment</label>
							<textarea class="form-control" rows="4" ng-model="$parent.commentText" id="comment"></textarea>
						</div>
						<button class="btn btn-primary" ng-click="saveComment()">
							Post
						</button>
						<br/><br/>
						<div>
							<h3>Comments <small>({{commentsNumber}})</small></h3>
							<hr/>
					        <div ng-repeat="item in sheetmusicComment" >
					        	<span class="glyphicon glyphicon-user"></span><b style="color: #80aaff;"> 
					        		{{item.user.userFirstName}}
					        		{{item.user.userLastName}}
					        		</b> * Posted: <em><small> {{item.postedDate}}</small> </em>
					        		<pre>{{item.comment}}</pre>
					        	<hr/>
					        	<br/>
					        </div>
					        
					        
					        <div ng-show="showSingleCommnet">
					        	<span class="glyphicon glyphicon-user"></span><b style="color: #80aaff;"> 
					        		{{userFirstName}}
					        		{{userLastName}}
					        		</b> * Posted: <em><small> {{postedDate}}</small> </em>
					        		<pre>{{comment}}</pre>
					        	<hr/>
					        	<br/>
					        </div>
					        
				        </div>
				        
					</div>
					<br/>
					
				</div>
					
			</div>
		</div>
	</div>