	
	<nav class="navbar navbar-default navbar-fixed-top" ng-controller="logoutController">
		<div class="container"
			data-ng-init="getLoggedUser()">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Sheet Music</span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/sheetmusic">Sheet Music</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="upload.html">Upload Sheet music</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
	
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span>
							Logged in : <em><b>{{loggedUser}}</b></em></a></li>
					<li><a href="#" ng-click="logout()">Log out </a></li>
				</ul>
			</div>
			<!-- nav-collapse /end -->
		</div>
	</nav>
	
	<br/>

	<div class="container"
		data-ng-init="init()">
		<div class="row">
			<form class="form-horizontal">
				<fieldset>

					<!-- Form Name -->
					<legend>About sheet music</legend>

					<div class="form-group">
						<label class="col-md-3 control-label" for="Title">Title</label>
						<div class="col-md-5">
							<input id="title" ng-model="adv.name" name="title" type="text"
								class="form-control input-md">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label" for="Page numbers">Page
							numbers</label>
						<div class="col-md-5">
							<input id="pagenumber" ng-model="adv.length" name="pagenumber"
								type="number" min="0" class="form-control input-md">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label" for="Page numbers">License
							© </label>
						<div class="col-md-5">
							<input id="license" ng-model="adv.license" name="license"
								type="text"
								placeholder="With a Creative Commons license, you keep your copyright"
								class="form-control input-md">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label" for="Page numbers">Upload
							pdf file</label>

						<div class="col-md-5">
							<span id="fileselector"> <label class="btn btn-default"
								for="upload-file-selector"> <input
									id="upload-file-selector-pdf" accept="application/pdf"
									type="file"> <i
									class="fa_icon icon-upload-alt margin-correction"></i>upload
									file
							</label>
							</span>
						</div>

						<!-- style="display: {{display_type}} none" -->
						<div ng-show="showUploadAlert" id="alert"
							class="{{alert_type}} col-sm-3">
							<p>{{message}}</p>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label" for="Page numbers">Upload
							sound file</label>

						<div class="col-md-5">
							<span id="fileselector"> <label class="btn btn-default"
								for="upload-file-selector"> <input
									id="upload-file-selector-sound" accept="audio/*" type="file">
									<i class="fa_icon icon-upload-alt margin-correction"></i>upload
									file
							</label>
							</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label" for="Song genre">Instruments</label>
						<div class="col-md-5">

							<!-- 	<select id="example-getting-started" multiple="multiple"> -->
							<!-- 							<select id="multi-selectbox" multiple="multiple" size="6" ng-model="adv.selectedInstrument">
								<option selected="selected"
									ng:repeat="instrument in instrumentsList"
									value="{{instrument.instrumentID}}">{{instrument.name}}
								</option>
							</select> -->

							<section class="container">
								<div>
									<select id="leftValues" size="5" multiple></select>
								</div>
								<div>
									<input type="button" id="btnLeft" value="&lt;&lt;" /> <input
										type="button" id="btnRight" value="&gt;&gt;" />
								</div>
								<div>

									<select id="rightValues" size="5" multiple
										name="adv.selectedInstrument" ng-model="instrument">
										<option ng:repeat="instrument in instrumentsList"
											value="{{instrument.instrumentId}}">
											{{instrument.name}}</option>
									</select>
								</div>
							</section>
						</div>
					</div>


					<div class="form-group">
						<label class="col-md-3 control-label" for="Song genre">Song
							genre</label>
						<div class="col-md-5">
							<select name="adv.selectedGenre" ng-model="adv.selectedGenre">
								<option selected="selected" ng:repeat="genre in songGenreList"
									value="{{genre.songGenreId}}">{{genre.songGenreName}}
								</option>
							</select>
						</div>
					</div>

					<!-- Button -->
					<div class="form-group">
						<label class="col-md-3 control-label" for="singlebutton">Submit</label>
						<div class="col-md-4">
							<button id="singlebutton" name="singlebutton"
								class="btn btn-primary" ng-click="uploadSheet(adv)">
								<span ng-show="uploadButtonText == 'Uploading'"> <i
									class="glyphicon glyphicon-refresh spinning"></i></span> {{
								uploadButtonText }}
							</button>
							<br /> <br />
						</div>
					</div>
				</fieldset>
			</form>

		</div>

	</div>